<section class="text-center m-5">
  <h3 class="text-center" >Rails 7 Devise Demo App</h3>
  <% if current_user %>
    <h5>Hai <%= current_user.email %></h5>
    <%= link_to "Edit your details", edit_user_registration_path, data: { turbo_method: :get } %>
  <% end %>
  <div style="margin-block-start: 1rem;">
    <%= image_tag("https://media.giphy.com/media/ASd0Ukj0y3qMM/giphy.gif", alt: "Hai gif") %>
  </div>
  <%=
    link_to_if(current_user.nil?, "Login", new_user_session_path) do
      link_to("Sign out",  destroy_user_session_path, method: :delete, data: { turbo_method: :delete })
    end
  %>
</section>
